﻿@model List<repository_control.Models.Company>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>


@using (Html.BeginForm())
{
    <p>
        Buscar Empresa: @Html.TextBox("SearchCompany", "", new { @name = "search", @id = "search" })
        <input type="submit" value="Buscar" />
    </p>
}

@using (Html.BeginForm())
{
    <p>
        Buscar Produto: @Html.TextBox("SearchProduct")
        <input type="submit" value="Buscar" />
    </p>
}


<table class="table">


    <tr>
        <th>@Html.ActionLink("Empresa", "Index", new { sortOrder = ViewBag.CompanySortParm })</th>
        <th>@Html.ActionLink("Código Produto", "Index", new { sortOrder = ViewBag.ProductIdParm })</th>
        <th>Produto</th>
        <th>Estoque</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    @foreach (var company in Model)
    {
        foreach (var producs in company.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => producs.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => producs.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => producs.Amount)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { Controller = "Products", Area = "Edit", Id = producs.Id }, new { @class = "glyphicon glyphicon-pencil", @title = "Editar" })
                </td>
                <td>
                    @Html.ActionLink(" ", "Delete", new { Controller = "Products", Area = "Delete", Id = producs.Id }, new { @class = "glyphicon glyphicon-erase", @title = "Excluir" })
                </td>
            </tr>
        }
    }

</table>
