﻿@model string
@{
    ViewBag.Title = "Upload de Arquivo";
}

<h2>Carregar Arquivo</h2>



@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="FileUpload" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

@Html.Label(Model,  new { htmlAttributes = new { @class = "ui-state-error-text" } })