﻿@model IEnumerable<repository_control.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Empresas</h2>

<p>
    @Html.ActionLink("Adicionar nova empresa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Empresa")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Adiciona Produto", "Create/" + item.Id, "Products")
        </td>
    </tr>
}

</table>
